*{margin: 0;padding: 0;box-sizing: border-box;}
body{min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9a0a0;
}
.calc{
   
    background-color: teal;
    flex: 0 0 75%;
}
.screen{
   width: 100%;
    color:white;
    border: none;
    background-color:rgb(39, 37, 37) ;
    font-size: 3rem;
    padding: 20px;  
    font-weight: bold;
}
.btns{
    display: flex;
    flex-wrap: wrap;
    transition: all 1s linear;
}
button{
    flex: 0 0 25%;
    padding: 5px;

}
.ybtn{
    background-color: rgb(119, 119, 84);
    color: whitesmoke;
}
.gbtn{
    background-color: rgb(104, 63, 56);
    color: whitesmoke;

}
.Btn-eqbtn{
    background-color: yellowgreen;
    color: whitesmoke;
}
.Btn-cbtn{
    background-color: thistle;
    color: whitesmoke;
}

